html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    display: grid;
    grid-template: 100px 1fr 50px / 1fr;
    align-items: center;
    justify-items: center;
    background-color: lightgrey;
}

.game-board {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: grey;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 2px;
}

.board-piece {
    background-color: white;
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: center;
}

.black {
    background-color: black;
}

img {
    width: 100px;
}